node-red-backup
[{"id":"d2750d2c.95ce8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1c0096f7.715b09","type":"rpi-gpio in","z":"d2750d2c.95ce8","name":"","pin":"23","intype":"tri","debounce":"25","read":true,"x":350,"y":20,"wires":[["d78ad2f7.a804b"]]},{"id":"d78ad2f7.a804b","type":"mqtt out","z":"d2750d2c.95ce8","name":"","topic":"pi/23","qos":"","retain":"","broker":"c6fa57c0.1d7648","x":500,"y":20,"wires":[]},{"id":"b1927c3a.5e797","type":"mqtt in","z":"d2750d2c.95ce8","name":"","topic":"pi/23","qos":"2","broker":"c6fa57c0.1d7648","x":500,"y":80,"wires":[["d6f490fa.33684","9f93145c.ee44f8"]]},{"id":"d6f490fa.33684","type":"debug","z":"d2750d2c.95ce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":40,"wires":[]},{"id":"9f93145c.ee44f8","type":"ui_gauge","z":"d2750d2c.95ce8","name":"Soil Moisture","group":"abd2b89e.d2fdd8","order":0,"width":0,"height":0,"gtype":"wave","title":"Soil Moisture","label":"","format":"{{value}}","min":0,"max":"1.3","colors":["#e53e3e","#28bf8f","#0b985b"],"seg1":"","seg2":"","x":790,"y":120,"wires":[],"inputLabels":["1"],"icon":"node-red/alert.png"},{"id":"f68c0f61.b6371","type":"mqtt in","z":"d2750d2c.95ce8","name":"","topic":"sensors/temperature","qos":"2","broker":"c6fa57c0.1d7648","x":190,"y":360,"wires":[["d79827bb.0e67d8","4f76e3e.b74d01c","d0669b49.a6bfd8","200cacd1.0b9574","2094694d.935716"]]},{"id":"d79827bb.0e67d8","type":"ui_chart","z":"d2750d2c.95ce8","name":"Temperature","group":"4946c6b.58c4238","order":1,"width":"0","height":"0","label":"Temperature (Celsius)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"waiting for connection","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":756,"y":419,"wires":[[],[]]},{"id":"493cbd19.d64c04","type":"mqtt in","z":"d2750d2c.95ce8","name":"","topic":"sensors/humidity","qos":"2","broker":"c6fa57c0.1d7648","x":408,"y":463,"wires":[["3980839a.5db62c"]]},{"id":"3980839a.5db62c","type":"ui_chart","z":"d2750d2c.95ce8","name":"Humidity","group":"abd2b89e.d2fdd8","order":3,"width":0,"height":0,"label":"Air Humidity (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":748,"y":463,"wires":[[],[]]},{"id":"878b42b4.96044","type":"mqtt in","z":"d2750d2c.95ce8","name":"","topic":"sensors/pressure","qos":"2","broker":"c6fa57c0.1d7648","x":420,"y":580,"wires":[["51fb8dfa.ce3464"]]},{"id":"51fb8dfa.ce3464","type":"ui_chart","z":"d2750d2c.95ce8","name":"Pressure","group":"4946c6b.58c4238","order":3,"width":0,"height":0,"label":"Pressure (hPa)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"940","ymax":"950","removeOlder":"10","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":760,"y":580,"wires":[[],[]]},{"id":"f77d4bdd.e0bab8","type":"mqtt in","z":"d2750d2c.95ce8","name":"","topic":"sensors/dewpoint","qos":"2","broker":"c6fa57c0.1d7648","x":292,"y":777,"wires":[["ff696bd6.f3fbc8","2094694d.935716"]]},{"id":"2094694d.935716","type":"ui_chart","z":"d2750d2c.95ce8","name":"","group":"4946c6b.58c4238","order":6,"width":0,"height":0,"label":"Dew point (Celsius)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#eaaae8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":779.5,"y":763,"wires":[[],[]]},{"id":"ff696bd6.f3fbc8","type":"ui_gauge","z":"d2750d2c.95ce8","name":"{{value}}","group":"4946c6b.58c4238","order":8,"width":0,"height":0,"gtype":"gage","title":"Dew Point","label":"deg C","format":"{{value}}","min":"-5","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":749.5,"y":803,"wires":[]},{"id":"8157e4c6.9cab08","type":"ui_button","z":"d2750d2c.95ce8","name":"","group":"4946c6b.58c4238","order":2,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"sensors/temperature","x":578,"y":383,"wires":[["d79827bb.0e67d8"]]},{"id":"5b746f4.925cc9","type":"ui_button","z":"d2750d2c.95ce8","name":"","group":"abd2b89e.d2fdd8","order":4,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"sensors/humidity","x":578,"y":443,"wires":[["3980839a.5db62c"]]},{"id":"ebe4e94a.ffab08","type":"ui_button","z":"d2750d2c.95ce8","name":"","group":"4946c6b.58c4238","order":4,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"sensors/pressure","x":578,"y":503,"wires":[["51fb8dfa.ce3464"]]},{"id":"d48a46cd.23b568","type":"ui_button","z":"d2750d2c.95ce8","name":"","group":"4946c6b.58c4238","order":7,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"sensors/dewpoint","x":560.5,"y":725,"wires":[["2094694d.935716"]]},{"id":"4f76e3e.b74d01c","type":"smooth","z":"d2750d2c.95ce8","name":"Avg temp","action":"mean","count":"10","round":"","x":561,"y":290,"wires":[["c3b60215.16653"]]},{"id":"d0669b49.a6bfd8","type":"smooth","z":"d2750d2c.95ce8","name":"max temp","action":"max","count":"3000","round":"","x":557,"y":246,"wires":[["f37dc2b6.63b39"]]},{"id":"200cacd1.0b9574","type":"smooth","z":"d2750d2c.95ce8","name":"min temp","action":"min","count":"300","round":"","x":558,"y":205,"wires":[["289d7ea7.f9d682"]]},{"id":"289d7ea7.f9d682","type":"ui_text","z":"d2750d2c.95ce8","group":"4946c6b.58c4238","order":9,"width":0,"height":0,"name":"Min_temp","label":"Min_temp","format":"{{value | number:1 }}","layout":"row-spread","x":750,"y":205,"wires":[]},{"id":"f37dc2b6.63b39","type":"ui_text","z":"d2750d2c.95ce8","group":"4946c6b.58c4238","order":10,"width":0,"height":0,"name":"Max_temp","label":"Max_temp","format":"{{value | number:1 }}","layout":"row-spread","x":750,"y":240,"wires":[]},{"id":"c3b60215.16653","type":"ui_text","z":"d2750d2c.95ce8","group":"4946c6b.58c4238","order":11,"width":0,"height":0,"name":"Avg_temp","label":"Avg_temp","format":"{{value | number:1 }}","layout":"row-spread","x":753,"y":309,"wires":[]},{"id":"349445ea.b382ba","type":"ui_template","z":"d2750d2c.95ce8","group":"37f27e4c.b92bf2","name":"Laika","order":3,"width":"6","height":"7","format":"<div> <img src=\"https://i.imgur.com/AW5jhcu.png\" \n height='340'  ></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1150,"y":580,"wires":[[]]},{"id":"35df8863.52f458","type":"http in","z":"d2750d2c.95ce8","name":"","url":"martians","method":"get","upload":false,"swaggerDoc":"","x":262,"y":657,"wires":[["c3b823ff.3a4d2"]]},{"id":"c3b823ff.3a4d2","type":"file in","z":"d2750d2c.95ce8","name":"","filename":"/home/pi/laika.jpg","format":"","sendError":true,"x":562,"y":657,"wires":[["1a50fae7.1a6aa5"]]},{"id":"1a50fae7.1a6aa5","type":"change","z":"d2750d2c.95ce8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":782,"y":657,"wires":[["fe75d949.75a9e8"]]},{"id":"fe75d949.75a9e8","type":"http response","z":"d2750d2c.95ce8","name":"","statusCode":"","headers":{},"x":970,"y":640,"wires":[]},{"id":"64d4c02f.0bf0f","type":"ui_template","z":"d2750d2c.95ce8","group":"abd2b89e.d2fdd8","name":"Martians","order":0,"width":0,"height":0,"format":"<div> <img src=\"http://static.wixstatic.com/media/d03e32_44554378c22b43138703c5483636ab34.png/v1/fill/w_393,h_337,al_c,usm_0.66_1.00_0.01/d03e32_44554378c22b43138703c5483636ab34.png\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1152,"y":617,"wires":[[]]},{"id":"eadb0df2.d5024","type":"rpi-gpio out","z":"d2750d2c.95ce8","name":"","pin":"13","set":true,"level":"0","freq":"","out":"out","x":340,"y":960,"wires":[],"inputLabels":["0"]},{"id":"9c9e2369.ccc2b","type":"ui_button","z":"d2750d2c.95ce8","name":"","group":"662839d5.b06148","order":2,"width":0,"height":0,"passthru":false,"label":"Stop watering","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":140,"y":1000,"wires":[["eadb0df2.d5024"]]},{"id":"3fbd9657.dbcdba","type":"ui_button","z":"d2750d2c.95ce8","name":"","group":"662839d5.b06148","order":1,"width":0,"height":0,"passthru":false,"label":"Start watering","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":160,"y":940,"wires":[["eadb0df2.d5024"]]},{"id":"8458ba9e.0289a8","type":"camerapi-takephoto","z":"d2750d2c.95ce8","filemode":"1","filename":"photo1.JPEG","filedefpath":"1","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"4","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"Take Photo","x":550,"y":1160,"wires":[["6f6bf4e3.44c71c"]]},{"id":"9d919875.cc71e8","type":"ui_template","z":"d2750d2c.95ce8","group":"d65cd906.f0e0b8","name":"","order":0,"width":"10","height":"11","format":"<script>\nvar value = \"1\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n\nfunction updateF() {\n  var source = '/photo1.JPEG',\n  timestamp = (new Date()).getTime(),\n  newUrl = source + '?_=' + timestamp;\n  document.getElementById(\"photo\").src = newUrl;\n}\n</script>\n\n<md-button ng-click=\"send({payload:action()})\" onclick=\"setTimeout(updateF, 2500);\" style=\"padding:40px; margin-bottom: 40px;\" >\n <ui-icon icon=\"camera\"></ui-icon>\n Take a photo<br>\n</md-button>\n\n<div style=\"margin-bottom:40px;\">\n <img src=\"/photo1.JPEG\" id=\"photo\" width=\"100%\" height=\"100%\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":280,"y":1160,"wires":[["8458ba9e.0289a8"]]},{"id":"6f6bf4e3.44c71c","type":"debug","z":"d2750d2c.95ce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":1160,"wires":[]},{"id":"c2f4f842.373b88","type":"rpi-gpio out","z":"d2750d2c.95ce8","name":"","pin":"15","set":true,"level":"0","freq":"","out":"out","x":680,"y":960,"wires":[]},{"id":"8106e9cb.317b58","type":"ui_button","z":"d2750d2c.95ce8","name":"","group":"417cf5c4.051fcc","order":2,"width":0,"height":0,"passthru":false,"label":"Lights OFF","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":470,"y":1000,"wires":[["c2f4f842.373b88"]]},{"id":"651506d4.107c68","type":"ui_button","z":"d2750d2c.95ce8","name":"","group":"417cf5c4.051fcc","order":1,"width":0,"height":0,"passthru":false,"label":"Lights ON","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":480,"y":940,"wires":[["c2f4f842.373b88"]]},{"id":"31a3f608.5b52aa","type":"rpi-gpio out","z":"d2750d2c.95ce8","name":"","pin":"19","set":true,"level":"1","freq":"","out":"out","x":1020,"y":980,"wires":[]},{"id":"36dcf788.a0a088","type":"ui_button","z":"d2750d2c.95ce8","name":"","group":"37f27e4c.b92bf2","order":2,"width":0,"height":0,"passthru":false,"label":"Stop injecting CO2","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":830,"y":1000,"wires":[["31a3f608.5b52aa"]]},{"id":"1390ac0b.df1d14","type":"ui_button","z":"d2750d2c.95ce8","name":"","group":"37f27e4c.b92bf2","order":1,"width":0,"height":0,"passthru":false,"label":"Inject CO2","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":830,"y":940,"wires":[["31a3f608.5b52aa"]]},{"id":"c6fa57c0.1d7648","type":"mqtt-broker","z":"","name":"testmqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"abd2b89e.d2fdd8","type":"ui_group","z":"","name":"Moisture","tab":"abc6d7c6.3d1648","order":3,"disp":true,"width":"8","collapse":false},{"id":"4946c6b.58c4238","type":"ui_group","z":"","name":"Meteo Info","tab":"abc6d7c6.3d1648","order":2,"disp":true,"width":"8","collapse":false},{"id":"37f27e4c.b92bf2","type":"ui_group","z":"","name":"Air valve","tab":"abc6d7c6.3d1648","order":6,"disp":true,"width":"6","collapse":false},{"id":"662839d5.b06148","type":"ui_group","z":"","name":"Water pump","tab":"abc6d7c6.3d1648","order":1,"disp":true,"width":"6","collapse":false},{"id":"d65cd906.f0e0b8","type":"ui_group","z":"","name":"Camera","tab":"abc6d7c6.3d1648","order":5,"disp":true,"width":"10","collapse":false},{"id":"417cf5c4.051fcc","type":"ui_group","z":"","name":"Lighting","tab":"abc6d7c6.3d1648","order":5,"disp":true,"width":"6","collapse":false},{"id":"abc6d7c6.3d1648","type":"ui_tab","z":"","name":"Martian garlic farm","icon":"dashboard","order":1}]
